.container
{
    display: flex;
}
#email,#password,h4,#login,#emailsign,#passwordsign,#signin,h3,#conpasswordsign
{
    margin-left: 20px;
}
#email,#password,#emailsign,#passwordsign,#conpasswordsign
{
    width: 350px;
    height: 25px;
}
.signindiv,.Logindiv
{
    border: 3px solid palevioletred;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    margin-top: 10%;
}
.Logindiv
{
    margin-left: 20%; 
}
.signindiv
{
    margin-left: 5%; 
}
input[type=button]
{
    font-size: 20px;
}
.AdminLogindiv
{
    border: 3px solid palevioletred;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    margin-top: 10%;
    margin-left: 35%;
}

#started {
    background: #fdca5c;
    border: 1px solid #faae3c;
}

#notstarted {
    background: #fd625c;
    border: 1px solid #FF4742;
}

#completed {
    background: #6c9afd;
    border: 1px solid #528efd;
}

#delivered {
    background: #24a841;
    border: 1px solid #068f29;
}

#notstarted, #started, #completed, #delivered {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 10px;
  min-height: 20px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#started:hover,
#started:active {
  background-color: initial;
  background-position: 0 0;
  color: #faae3c;
}

#notstarted:hover,
#notstarted:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

#completed:hover,
#completed:active {
  background-color: initial;
  background-position: 0 0;
  color: #528efd;
}


#delivered:hover,
#delivered:active {
  background-color: initial;
  background-position: 0 0;
  color: #068f29;
}

#notstarted:active, #started:active, #completed:active, #deliverd:active {
  opacity: .5;
}
body
{
  
}
